{
  "plugins": ["./src/index.js"],
  "tabWidth": 2,
  "printWidth": 120,
  "twigAlwaysBreakObjects": true,
  "twigSingleQuote": false,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf"
}
